
# Ignore contents of some directories:
obj/
config/**
config.**
src/.deps/**
Makefile
configure
libtool


# Ignore stuff in current directory and recursively down:
./**/*~
./**/*.o
./**/*.so
./**/*.a
./**/a.out

