
# Ignore contents of some directories:
obj/
config/**
config.**
Makefile
configure
libtool
src/.deps/**
src/Makefile


# Ignore stuff in current directory and recursively down:
./**/*~
./**/*.o
./**/*.so
./**/*.a
./**/a.out

